{% extends 'LabCoat/base.html' %}

{% block title %}
Staff Lab Coat Distributions
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Lab Coat Distributions for Staff</h5>
            
            <form method="get" class="form-inline mb-4">
                <div class="input-group">
                    <input type="search" id="form1" name="search" placeholder="Search by Name or ID" class="form-control mr-sm-2" value="{{ query }}" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for distribution in distributions %}
                        <tr>
                            <td>{{ distribution.user_id }}</td>
                            <td>{{ distribution.name }}</td>
                            <td>{{ distribution.size }}</td>
                            <td>{{ distribution.quantity }}</td>
                            <td>{{ distribution.date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
