{% extends 'LabCoat/base.html' %}

{% block title %}
Current Stock
{% endblock %}

{% block content %}
<!-- Include Plotly.js (You may need to update the path to Plotly.js) -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div class="container mt-4">
    <h1>Lab Coat Inventory Updates</h1>
    <!-- This is where the Plotly graph will be rendered -->
    <div id="graph-container">
        {{ graph_div|safe }}
    </div>
</div>



<!-- Current Stock Table -->
<div class="container mt-4">
    <h2>Current Inventory</h2>
    <table class="table table-hover table-bordered mt-4">
        <thead class="table">
        <tr>
            <th scope="col">Size</th>
            <th scope="col">Total Count</th>
        </tr>
        </thead>
        <tbody>
            {% for item in inventory_data %}
                <tr>
                    <td><strong>{{ item.get_size_display }}</strong></td>
                    <td>{{ item.total }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No inventory data available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
