{% extends 'labcoat/base.html' %}

{% block title %}
Current Stock
{% endblock %}

{% block content %}
<!-- Include Plotly.js (You may need to update the path to Plotly.js) -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


<body>
    <div class="container mt-4">
        <h2>Lab Coat Inventory Updates</h2>
        <!-- This is where the Plotly graph will be rendered -->
        <div id="graph-container">
            {{ graph_div|safe }}
        </div>
    </div>



    <!-- Current Stock Table -->
    <div class="container mt-4">
        <h2>Current Inventory</h2>


        <table class="table table-hover table-bordered mt-4">
            <thead class="table">
            <tr>
                <th scope="col">Size</th>
                <th scope="col">Total Count</th>
            </tr>
            </thead>
            <tbody>
            {% for size, total in current_stock.items %}
                <tr>
                <td><strong>{{ size }}</strong></td>
                <td>{{ total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

  

{% endblock %}
